.btn {
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: $color-text;
  transition: 0.3s color;
  margin: 0 auto;

  &--add {
    &:hover {
      color: $color-text-green;
      transition: 0.3s color;
    }
    &:active {
      color: $color-text-green-active;
      transition: 0.3s color;
    }
  }

  &--delete {
    &:hover {
      color: $color-text-red;
      transition: 0.3s color;
    }
    &:active {
      color: $color-text-red-active;
      transition: 0.3s color;
    }
  }
}
